:root {
  /* --light-blue: #b5c8f9; */
  --royal-blue: #4169E1;
  --dark-blue: #4169E17d;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .form-control:focus {
  border-color: #a3d1da;
  box-shadow: 0 0 0 0.25rem #a3d1da7d;
} */

/* .card-body {
  display: flex;
  flex-direction: row;
} */

.form-control:focus {
  border-color: var(--royal-blue);
  box-shadow: 0 0 0 0.25rem var(--dark-blue);
}

/* .btn-outline-info {
  --bs-btn-color: #0000CD;
}

a {
  color: #0000CD;
} */

/* .login-button:hover {
  background-color: var(--royal-blue);
}

.signup-button:hover {
  background-color: var(--royal-blue);
} */

/* .channel-button:active {
  padding: 0.4rem 0.8rem;

  background-color: var(--light-blue);
  border: none;

  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
} */
/* 
.message {
  width: fit-content;
} */